@use "../block/vars";

.footer {
  padding: 40px 0;
  background-color: vars.$background-secondary;
  &__wrapper {
    margin: 0 auto;
    max-width: 988px;
    padding-bottom: 30px;
  }
  &__items {
    @include vars.flex-conf(space-between, flex-start);
  }
  &__item {
    & .title-level-six {
      font-family: vars.$fontWorkSans;
      color: vars.$footer-color;
    }
    & .title-level-five {
      font-family: vars.$fontMain;
      font-weight: 700;
    }
    &:nth-child(1) {
      flex-basis: 327px;
      &>*:nth-child(2) {
        margin: 30px 0 20px;
      }
      &>*:nth-child(3) {
        margin-bottom: 15px;
      }
      &>*:not(:first-child) {
        max-width: 238px;
      }
    }
    &:nth-child(2) {
      flex-basis: 240px;
      & .title-level-five {
        margin-bottom: 30px;
      }
      & .footer__item-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
    &:nth-child(3) {
      flex-basis: 420px;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
  &__item-link:hover {
    text-decoration: underline;
    color: #f8a4a4;
    transition: all .3s;
  }
  &__social {
    display: flex;
    gap: 10px;
  }
  &__form {
    margin-top: 20px;
    position: relative;
    &-email {
      display: block;
      width: 100%;
      border-radius: 20px;
      padding: 16px 223px 16px 20px;
      outline: none;
      height: 60px;
      border: none;
      cursor: pointer;
      @include vars.font-conf(16, 140%, 400);
      font-family: vars.$fontWorkSans;
      color: vars.$background;
      &::placeholder {
        @include vars.font-conf(16, 140%, 400);
        font-family: vars.$fontWorkSans;
        color: vars.$background;
      }
    }
    &-btn {
      @include vars.pos-absolute(top, right, -1px, -1px);
      max-width: 179px;
      height: 62px;
      &:hover {
        transition: all .3s;
        background: linear-gradient(149deg, #b49dfb 0%, #ff6250 50%, #b49dfb 100%);
      }
      .btn__text:before {
        background: url("../../img/mail-icon.svg") center center no-repeat;
      }
    }
  }
  &__copyright {
    border-top: 1px solid vars.$caption-label-text;
    padding-top: 20px;
    color: vars.$footer-color;
    font-family: vars.$fontWorkSans;
  }
}

@media (max-width: vars.$breakpoint850) {
  .footer {
    &__items {
      flex-direction: column;
      gap: 30px;
    }
    & &__item {
      flex-basis: auto;
      &:first-child>*:nth-child(2) {
        margin-top: 20px;
      }
      &:not(:first-child)>*:first-child {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: vars.$breakpoint480) {
  .footer {
    &__form-email {
      padding-right: 20px;
    }
    &__form-btn {
      margin-top: 16px;
      position: static;
      max-width: none;
      width: 100%;
    }
  }
}
