@use "vars";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
  font-family: vars.$fontMain;
  color: vars.$text-color;
  @include vars.font-conf(16, 140%, 400);
  background-color: vars.$background;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

// Container
.container {
  max-width: (vars.$containerWidth + vars.$containerPadding * 2) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 vars.$containerPadding+px;
}

section {
  padding: 80px 0;
}

@media (max-width: vars.$breakpoint1050) {
  section {
    padding: 40px 0;
  }
}

.subtitle {
  margin: 10px 0 60px;
}

.title-level-one {
  font-family: vars.$fontWorkSans;
  @include vars.font-conf(67, 110%, 700);
  text-transform: capitalize;
}

.title-level-two {
  font-family: vars.$fontWorkSans;
  @include vars.font-conf(51, 110%, 700);
  text-transform: capitalize;
}

.title-level-three {
  font-family: vars.$fontWorkSans;
  @include vars.font-conf(38, 120%, 600);
  text-transform: capitalize;
}

.title-level-four {
  @include vars.font-conf(28, 140%, 700);
  text-transform: capitalize;
}

.title-level-five {
  font-family: vars.$fontWorkSans;
  @include vars.font-conf(22, 160%);
  text-transform: capitalize;
}

.title-level-six {
  @include vars.font-conf(16, 140%);
}

.title-level-seven {
  @include vars.font-conf(12, 110%);
}

.item-name {
  margin-top: 10px;
  padding-left: 36px;
  position: relative;
  &:before {
    @include vars.pos-absolute(top, left, 0, 0);
    content: "";
    width: 24px;
    height: 24px;
  }
}

.btn {
  font-family: vars.$fontWorkSans;
  font-weight: 600;
  padding: 19px 0;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  @include vars.flex-conf(center, center);
  &__text {
    display: block;
  }
}

.btn__bg {
  background-color: vars.$call-to-action;
  &:hover {
    transition: all .3s;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
  }
}

.btn__bg-none {
  border: 2px solid vars.$call-to-action;
  &:hover {
    transition: all .3s;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
    color: vars.$hover-color-trans-bg;
  }
}

.btn__icon {
  .btn__text {
    position: relative;
    padding-left: 32px;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      @include vars.pos-absolute(left, top, 0, 50%, 0, -50%);
    }
  }
}

@media (max-width: vars.$breakpoint768) {
  .container {
    &>h3 {
      font-family: vars.$fontWorkSans;
      @include vars.font-conf(28, 140%, 700);
      text-transform: capitalize;
    }
    &>h5 {
      font-family: vars.$fontWorkSans;
      @include vars.font-conf(16, 140%, 400);
    }
    &>div>div>h3 {
      font-family: vars.$fontWorkSans;
      @include vars.font-conf(28, 140%, 700);
      text-transform: capitalize;
    }
    &>div>div>h5 {
      font-family: vars.$fontWorkSans;
      @include vars.font-conf(16, 140%, 400);
    }
  }
  .subtitle {
    margin-bottom: 40px;
  }
}