@use "vars";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
  font-family: vars.$fontMain;
  color: vars.$text-color;
  @include vars.font-conf(16, 140%, 400);
  background-color: vars.$background;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

// Container
.container {
  max-width: (vars.$containerWidth + vars.$containerPadding * 2) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 vars.$containerPadding+px;

  @media (max-width: vars.$breakpoint992) {
    max-width: 992px;
  }

  @media (max-width: vars.$breakpoint768) {
    max-width: 768px;
  }

  @media (max-width: vars.$breakpoint600) {
    max-width: 600px;
  }

  @media (max-width: vars.$breakpoint480) {
    max-width: none;
  }
}

section {
  margin: 160px 0;
}

.header__container {
  max-width: vars.$containerWidth + 100 + px;
}

.header__burger {
  display: none;
}

.subtitle {
  margin: 10px 0 60px;
}

.title-level-one {
  font-family: vars.$fontWorkSans;
  font-weight: 700;
  font-size: 67px;
  line-height: 110%;
  text-transform: capitalize;
}

.title-level-two {
  font-family: vars.$fontWorkSans;
  font-weight: 700;
  font-size: 51px;
  line-height: 110%;
  text-transform: capitalize;
}

.title-level-three {
  font-family: vars.$fontWorkSans;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
}

.title-level-four {
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  text-transform: capitalize;
}

.title-level-five {
  font-family: vars.$fontWorkSans;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
}

.title-level-six {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}

.title-level-seven {
  font-size: 12px;
  line-height: 110%;
}

.item-name {
  margin-top: 10px;
  padding-left: 36px;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
  }
}

.btn {
  font-family: vars.$fontWorkSans;
  font-weight: 600;
  padding: 19px 0;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  @include vars.flex-conf(center, center);
  &__text {
    display: block;
  }
}

.btn__bg {
  background-color: vars.$call-to-action;
  &:hover {
    transition: all .3s;
    background-color: vars.$hover-color;
  }
}

.btn__bg-none {
  border: 2px solid vars.$call-to-action;
}

.btn__icon {
  .btn__text {
    position: relative;
    padding-left: 32px;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      @include vars.pos-absolute(left, top, 0, 50%, 0, -50%);
    }
  }
}
