@use 'vars';

.header {
  padding: 20px 0;
  &__container {
    @include vars.flex-conf(space-between, center);
    position: relative;
    max-width: vars.$containerWidth + 100 + px;
  }
  .nav {
    @include vars.flex-conf(flex-end, def, 10);
    max-width: 607px;
    max-height: 60px;
    height: 100%;
    width: 100%;
  }
  .menu {
    @include vars.flex-conf(def, center, 10);
    &__item {
      &-link {
        font-family: vars.$fontWorkSans;
        font-weight: 600;
        padding: 12px 20px;
        border-radius: 20px;
        &:hover {
          transition: all .5s;
          color: vars.$hover-color-trans-bg;
          background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
        }
      }
    }
  }
  &__link-action {
    max-width: 152px;
    &__text {
      &:before {
        background: url("../../img/user-icon.svg") center center no-repeat;
      }
    }
  }
  &__burger {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &-item {
      display: block;
      height: 3px;
      position: absolute;
      transform: translateY(-50%) rotate(0deg);
      transition: all .3s;
      background-color: vars.$text-color;
      &:first-child {
        top: 10px;
      }
      &:last-child {
        top: 30px;
      }
      &:nth-child(odd) {
        width: 22px;
      }
      &:nth-child(even) {
        width: 30px;
        top: 20px;
        transform: translateY(-50%);
      }
    }
    &.burger-open {
      .header__burger-item {
        &:nth-child(odd) {
          top: 15px;
        }
        &:nth-child(even) {
          display: none;
        }
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@media (max-width: vars.$breakpoint992) {
  .header {
    &__container {
      display: block;
    }
    .logo {
      display: block;
      text-align: center;
    }
    .nav {
      justify-content: center;
      max-width: none;
    }
  }
}

@media (max-width: vars.$breakpoint600) {
  .logo {
    &__img {
      max-width: 200px;
    }
  }
}

@media (max-width: vars.$burgerBreakPoint) {
  .header {
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__burger {
      display: block;
    }
    .logo {
      display: block;
    }
    .nav {
      display: block;
      position: absolute;
      right: -600px;
      top: -5px;
      width: 200px;
      text-align: center;
      max-height: none;
      height: auto;
      padding: 40px 5px 10px;
      background-color: vars.$background-secondary;
      border-radius: 20px;
      transition: all .5s;
      & .menu__item-link {
        display: block;
        border-radius: 0;
        &:hover {
          background: inherit;
          color: inherit;
        }
        &:active {
          background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
        }
      }
      & .menu__item {
        border-top: 1px solid vars.$caption-label-text;
        &:last-child {
          border-bottom: 1px solid vars.$caption-label-text;
        }
      }
    }
    .menu {
      display: block;
    }
    &__link-action {
      margin-top: 10px;
      width: 100%;
      max-width: none;
      &:hover {
        background: vars.$call-to-action;
      }
      &:active {
        background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
      }
    }
  }
}
