@use 'vars';

.header {
  padding: 20px 0;
  &__container {
    @include vars.flex-conf(space-between, center);
    position: relative;
  }
  .nav {
    @include vars.flex-conf(flex-end, def, 10);
    max-width: 607px;
    max-height: 60px;
    height: 100%;
    width: 100%;
  }
  .menu {
    @include vars.flex-conf(def, center, 10);
    &__item {
      &-link {
        font-family: vars.$fontWorkSans;
        font-weight: 600;
        padding: 12px 20px;
        border-radius: 20px;
        &:hover {
          transition: all .5s;
          color: vars.$hover-color-trans-bg;
          background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
        }
      }
    }
  }
  &__link-action {
    max-width: 152px;
    &__text {
      &:before {
        background: url("../../img/user-icon.svg") center center no-repeat;
      }
    }
  }
}

@media (max-width: vars.$breakpoint992) {
  .header {
    &__container {
      display: block;
    }
    .logo {
      display: block;
      text-align: center;
    }
    .nav {
      justify-content: center;
      max-width: none;
    }
  }
}

@media (max-width: vars.$breakpoint600) {
  .logo {
    &__img {
      max-width: 200px;
    }
  }
}
