// Container & Breakpoints

@use "sass:math";
$containerWidth: 1050;
$containerPadding: 15;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1100: 1100px;
$breakpoint1050: 1050px;
$breakpoint992: 992px;
$breakpoint850: 850px;
$breakpoint768: 768px;
$breakpoint650: 650px;
$breakpoint600: 600px;
$breakpoint480: 480px;

// Burger Menu
$burgerBreakPoint: $breakpoint768;
$burgerActiveColor: 'white';

// Fonts
$fontMain: "Space-Mono-Regular", sans-serif;
$fontWorkSans: "Work-Sans-Regular", sans-serif;
$fontMulish: "Mulish-Regular", sans-serif;
$fontPoppins: "Poppins-Regular", sans-serif;

// Colors
$background: #2b2b2b;
$background-secondary: #3b3b3b;
$caption-label-text: #858584;
$text-color: #ffffff;
$call-to-action: #a259ff;
$blue-accent: #377df7;
$red-accent: #ff7262;
$hover-color: #753ac3;
$hover-color-trans-bg: #f8a4a4;
$footer-color: #ccc;


// Mixins
@mixin pos-absolute($vertical-orientation, $horizontal-orientation, $vertical-value, $horizontal-value, $translateX:0, $translateY:0) {
  position: absolute;
  #{$vertical-orientation}: $vertical-value;
  #{$horizontal-orientation}: $horizontal-value;
  @if($translateX != 0 and $translateY != 0) {
    transform: translate($translateX, $translateY);
  } @else if($translateX != 0 and $translateY == 0) {
    transform: translateX($translateX);
  } @else if($translateX == 0 and $translateY != 0) {
    transform: translateY($translateY);
  }
}

@mixin font-conf($font-size:inherit, $line-height:inherit, $font-weight:400, $letter-spacing:normal) {
  font-size: $font-size + px;
  line-height: $line-height;
  font-weight: $font-weight;
  @if($letter-spacing != normal) {
    letter-spacing: $letter-spacing;
  }
}

@mixin flex-conf($justify-content: def, $align-items: def, $gap: def, $flex-wrap: def) {
  display: flex;
  @if($align-items != def) {
    align-items: $align-items;
  }
  @if($justify-content != def) {
    justify-content: $justify-content;
  }
  @if($gap != def) {
    gap: $gap + px;
  }
  @if($flex-wrap != def) {
    flex-wrap: $flex-wrap;
  }
}
