@use "../../block/vars";

.subscribe {
  padding: 40px 0 80px;
  &__inner {
    padding: 60px;
    border-radius: 20px;
    background-color: vars.$background-secondary;
  }
  &__items {
    @include vars.flex-conf(center, center, 80);
  }
  &__item {
    &>h5 {
      margin: 10px 0 40px;
    }
  }
  &__form {
    position: relative;
    &-email {
      display: block;
      width: 100%;
      border-radius: 20px;
      padding: 16px 223px 16px 20px;
      outline: none;
      height: 60px;
      border: none;
      cursor: pointer;
      @include vars.font-conf(16, 140%);
      font-family: vars.$fontWorkSans;
      color: vars.$background;
      &::placeholder {
        @include vars.font-conf(16, 140%);
        font-family: vars.$fontWorkSans;
        color: vars.$background;
      }
    }
    &-btn {
      @include vars.pos-absolute(top, right, -1px, -1px);
      max-width: 211px;
      height: 62px;
      &:hover {
        transition: all .3s;
        background: linear-gradient(149deg, #b49dfb 0%, #ff6250 50%, #b49dfb 100%);
      }
      .btn__text:before {
        background: url("../../../img/mail-icon.svg") center center no-repeat;
      }
    }
  }
}

@media (max-width: vars.$breakpoint1100) {
  .subscribe {
    &__inner {
      padding: 40px 30px;
    }
    &__items {
      gap: 30px;
    }
    &__item {
      &-title {
        @include vars.font-conf(28, 140%, 600);
        text-transform: capitalize;
      }
      &-subtitle {
        @include vars.font-conf(16, 140%);
      }
    }
    &__form-email {
      padding-right: 20px;
    }
    &__form-btn {
      margin-top: 16px;
      position: static;
      max-width: none;
      width: 100%;
    }
  }
}

@media (max-width: vars.$breakpoint850) {
  .subscribe {
    &__inner {
      background-color: inherit;
    }
    &__items {
      flex-direction: column;
    }
    &__item {
      &-img {
        width: 315px;
        height: 255px;
      }
      &:last-child {
        width: 80%;
      }
    }
  }
}

@media (max-width: vars.$breakpoint480) {
  .subscribe {
    padding-bottom: 40px;
    &__item-img {
      max-width: 315px;
      width: 100%;
    }
    &__item:last-child {
      width: 100%;
      & h5 {
        margin-bottom: 20px;
      }
    }
    &__inner {
      padding: 0;
    }
    &__form-email {
      padding-right: 20px;
    }
    &__form-btn {
      margin-top: 16px;
      position: static;
      max-width: none;
      width: 100%;
    }
  }
}