@use "../../block/vars";

.browse {
  &__title {
    font-weight: 600;
  }
  &__subtitle {
    margin: 10px 0 30px;
  }
  &__form {
    position: relative;
    &-search {
      width: 100%;
      padding: 19px 70px 19px 20px;
      background-color: vars.$background;
      border-radius: 20px;
      border: 1px solid vars.$background-secondary;
      &::placeholder {
        font: inherit;
        font-family: vars.$fontWorkSans;
        color: vars.$caption-label-text;
      }
    }
    &-btn {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        .browse__form-btn__icon {
          width: 28px;
          height: 28px;
          transition: all .5s;
          & path {
            fill: vars.$caption-label-text;
          }
        }
      }
      &__icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media (max-width: vars.$breakpoint768) {
  .browse {
    &__title {
      font-size: 38px;
      line-height: 120%;
    }
    &__subtitle {
      font-size: 16px;
      line-height: 140%;
    }
  }
}

@media (max-width: vars.$breakpoint480) {
  .browse__title {
    font-size: 26px;
    line-height: 140%;
  }
}