@use "../block/vars";

.mashrooms {
  padding: 0;
  max-width: 1280px;
  height: 640px;
  margin: 0 auto;
  background: url("../../img/homepage/mashrooms/mashroom.jpg") center center no-repeat;
  background-size: cover;
  &__wrapper {
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
    width: 100%;
    height: inherit;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 640px;
    padding-bottom: 60px;
  }
  &__item {
    .mashrooms__title {
      padding: 11px 20px;
      background-color: vars.$background-secondary;
      max-width: 151px;
      border-radius: 20px;
      text-align: center;
      .item-name {
        margin-top: 0;
        display: block;
        &:before {
          background: url("../../img/homepage/mashrooms/mashrooms-icon-avatar.png") center center no-repeat;
        }
      }
    }
    &-title {
      margin: 30px 0;
    }
    &-link {
      max-width: 198px;
      background-color: vars.$text-color;
      color: vars.$background;
      &.btn__bg:hover {
        transition: all .3s;
        color: vars.$text-color;
        background: linear-gradient(149deg, #b49dfb 0%, #ff6250 50%, #b49dfb 100%);
        &:before {
          background: url("../../img/eye-open.svg") center center no-repeat;
        }
      }
      &__text:before {
        background: url("../../img/svg-icon-eye.svg") center center no-repeat;
      }
    }
    &:last-child {
      flex-basis: 295px;
      height: 147px;
      border-radius: 20px;
      padding: 30px;
      backdrop-filter: blur(10px);
      background: rgba(59, 59, 59, 0.5);
    }
  }
  &__time {
    margin: 10px 0 5px;
    display: flex;
    gap: 10px;
    font-family: vars.$fontMain;
    &>span {
      font-family: vars.$fontMain;
    }
  }
  &__box {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
