@use "../block/vars";

.mashrooms {
  padding: 0;
  max-width: 1280px;
  height: 640px;
  margin: 0 auto;
  background: url("../../img/homepage/mashrooms/mashroom.jpg") center center no-repeat;
  background-size: cover;
  &__wrapper {
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
    width: 100%;
    height: inherit;
  }
  &__items {
    @include vars.flex-conf(space-between, flex-end, 15);
    height: 640px;
    padding-bottom: 60px;
    &>.mashrooms__item-link {
      display: none;
    }
  }
  &__item {
    .mashrooms__title {
      padding: 11px 20px;
      background-color: vars.$background-secondary;
      max-width: 151px;
      border-radius: 20px;
      text-align: center;
      .item-name {
        margin-top: 0;
        display: block;
        &:before {
          background: url("../../img/homepage/mashrooms/mashrooms-icon-avatar.png") center center no-repeat;
        }
      }
    }
    &-title {
      margin: 30px 0;
    }
    &-link {
      max-width: 198px;
      background-color: vars.$text-color;
      color: vars.$background;
      &.btn__bg:hover {
        transition: all .3s;
        color: vars.$text-color;
        background: linear-gradient(149deg, #b49dfb 0%, #ff6250 50%, #b49dfb 100%);
      }
      &__text:before {
        background: url("../../img/svg-icon-eye.svg") center center no-repeat;
      }
    }
    &:nth-child(2) {
      flex-basis: 295px;
      height: 147px;
      border-radius: 20px;
      padding: 30px;
      backdrop-filter: blur(10px);
      background: rgba(59, 59, 59, 0.5);
    }
  }
  &__time {
    margin: 10px 0 5px;
    display: flex;
    gap: 10px;
    font-family: vars.$fontMain;
    &>span {
      font-family: vars.$fontMain;
    }
  }
  &__box {
    padding-top: 5px;
    flex-direction: column;
    @include vars.flex-conf(def, center, 5);
  }

}

@media (max-width: vars.$breakpoint768) {
  .mashrooms {
    &__items {
      max-width: 670px;
      margin: 0 auto;
    }
    &__item {
      &-title {
        font-family: vars.$fontWorkSans;
        @include vars.font-conf(38, 120%, 600);
        text-transform: capitalize;
      }
    }
  }
}

@media (max-width: vars.$breakpoint600) {
  .mashrooms {
    &__items {
      gap: 30px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 0 15px 40px 15px;
      &>.mashrooms__item-link {
        display: flex;
      }
    }
    &__item {
      &-title {
        margin-bottom: 0;
      }
      &:nth-child(1) {
        .mashrooms__item-link {
          display: none;
        }
      }
      &:nth-child(2) {
        flex-basis: auto;
      }
    }
  }
}

@media (max-width: vars.$breakpoint480) {
  .mashrooms {
    &__items {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__item:nth-child(2) {
      padding: 15px;
      height: auto;
    }
    &__items>.mashrooms__item-link {
      width: 100%;
      max-width: none;
    }
  }
}
