@use "../block/vars";

.starts {
  &__items {
    @include vars.flex-conf(space-between, def, 40);
  }
  &__item {
    &-subtitle {
      margin: 20px 0 30px;
    }
    &-btn {
      margin-bottom: 30px;
      max-width: 224px;
      &__text {
        &:before {
          background: url("../../img/homepage/starts/icon-rocket.svg");
        }
      }
    }
    &-inner {
      @include vars.flex-conf(def, center, 30);
    }
    &-box {
      flex-basis: 150px;
      h4 {
        margin-bottom: 10px;
      }
    }
    &-wrapper {
      border-radius: 0 0 20px 20px;
      padding: 20px;
      height: 109px;
      background-color: vars.$background-secondary;
    }
    .item-name:before {
      background: url("../../img/homepage/starts/user-avatar.png") center center no-repeat;
    }
    &:last-child {
      display: flex;
      flex-direction: column;
    }
  }
}
